
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg
{
    background: #ffc505e8;
}
.navbar{
    padding: 0;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.bgcolor{
    background: url(./images/contactimg.jpg);
   /* filter: blur(3);*/
    font-family: 'poppins', sans-serif;
    
}
form{
    width: 40%; 
    min-width: 320px;
    padding: 50px;
    background: white;
    border-radius: 15px;
    margin-top: 100px;
    border: 1px solid rgb(41, 43, 37);
    background-color: rgba(54, 48, 50, 0.911);
    box-shadow: inset -2px -2px rgba(10,10,10,0.5);
    border-radius: 25px;
}
form h1{
    color:white;
    font-size: 2rem;
}
form label{
    color:white;
}
.btn-primary{
    width: 100%;
    border: none;
    border-radius: 50px;
    background:rgb(30, 119, 236);
}
.form-control{
    border:none;
    outline: none;
    border-radius: 20px;
    background-color: rgba(209, 199, 199, 0.185);

}
.carousel-item{
    /*height: 100vh;*/
    /*min-height: 100px;*/
    background: no-repeat scroll center scroll;
    -webkit-background-size:cover ;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*height: 100vh;*/
    background: black;
    opacity: 0.7;
}
.carousel-caption{
   /* bottom: 100px;
   
    padding-left: 100px;
    padding-right: 100px;*/
    
}
.carousel-caption h5{
    font-size: 20px;
    font-weight: 100;
    font-family: cursive;
    /*letter-spacing: 2px;
    margin-bottom: 50px; ;*/
    color: aqua;
}
.carousel-caption p{
    width: 60%;
    font-size:15px ;
    font-family: cursive;
    color:whitesmoke;
    /*line-height: 1.9;*/
}
.carousel-caption span{
    font-size: 15px;
    font-family: cursive;
    color: rgb(35, 211, 19);
}
.carousel-caption button{
    font-size: 10px;
    background-color: rgb(19, 115, 199);
    border-radius: 2px;
    padding: .5rem 1rem;
    font-size: 1rem;
}
@media only screen and (max-width:600px){
    .carousel-caption{
        bottom:10px
    }
    .carousel-caption h5{
        font-size: 17px;
    }
}
@media screen and(min-width: 200px)
{
    form{
        width: 50%;
    }
}


@media only screen and(min-width: 576px) {
    
    
}
@media only screen and(min-width: 768px) {
    form{
        width: 100%;
    }
}
@media only screen and(min-width: 992px) {
  
}
@media only screen and(min-width: 1200px) {
    
}


   